
  <h1>Hello</h1>
  <app-demo></app-demo>
<h3>{{title}}</h3>
<p>{{myobj.name}}</p>
<p>{{myobj.email}}</p>

<ul>

<li *ngFor="let arr of myArr">{{arr}}</li>

</ul>

<input type="text" id="username" name="username" [(ngModel)]="name" placeholder="Enter the name">
<button (click)="addElement()">Add</button>
<p>{{name | uppercase}}</p>
<input type="number" [(ngModel)]="age" placeholder="Enter age">
<p *ngIf="age>=18;else noteligible ">You are eligible</p>


<ng-template #noteligible>You are not eligible</ng-template>

<ul>
  <li *ngFor="let n of namelist">{{n}}</li>
</ul>


<hr>
<h1>Vote Registration</h1>
<input type="text" [(ngModel)]="votername" placeholder="Enter Voter name">
<br>
<input type="number" [(ngModel)]="voterage">
<p *ngIf="voterage>=18;else noteligiblevote">You are eligible</p>
<p id="noteligiblevote"><ng-template #noteligiblevote>Not Eligible for vote</ng-template></p>
<br>
<button (click)="addVoter()">Add Voter</button>
<hr>

<h1>Voter list</h1>
<ul>
  <li *ngFor="let n of voterlist">{{n.votername}} - {{n.voterage}}</li>
</ul>